<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 100% 바 -->
    <div
      class="m-2 w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
    >
      <div
        class="w-[100%] h-full bg-[var(--color-secondary)] rounded-full"
      ></div>
    </div>

    <!-- 50% 바 -->
    <div
      class="m-2 w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
    >
      <div
        class="w-[50%] h-full bg-[var(--color-secondary)] rounded-full"
      ></div>
    </div>

    <!-- 0% 바 -->
    <div
      class="m-2 w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
    >
      <div
        class="w-[00%] h-full bg-[var(--color-secondary)] rounded-full"
      ></div>
    </div>

    <!-- 미션 배지 -->
    <article
      class="bg-[var(--color-primary)] w-[300px] h-auto p-5 rounded-xl m-3 flex justify-between items-center"
    >
      <div class="flex flex-col">
        <header class="grid grid-rows-2 w-full">
          <div class="grid grid-cols-[auto_1fr] gap-1 items-center">
            <svg
              width="13"
              height="13"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.99984 2.5C5.22085 2.5 5.43281 2.5878 5.58909 2.74408C5.74537 2.90036 5.83317 3.11232 5.83317 3.33333V4.06667C6.7165 3.7 7.9165 3.33333 9.1665 3.33333C11.6665 3.33333 11.6665 5 13.3332 5C15.8332 5 16.6665 3.33333 16.6665 3.33333V10C16.6665 10 15.8332 11.6667 13.3332 11.6667C10.8332 11.6667 10.8332 10 9.1665 10C6.6665 10 5.83317 11.6667 5.83317 11.6667V17.5H4.1665V3.33333C4.1665 3.11232 4.2543 2.90036 4.41058 2.74408C4.56686 2.5878 4.77882 2.5 4.99984 2.5Z"
                fill="white"
              />
            </svg>
            <h2 class="text-[var(--color-background)] text-[10.503px]">
              5개의 친구질문 글에 댓글 남기기
            </h2>
          </div>
          <p class="text-[var(--color-content-tertiary)] text-[10.503px] mt-1">
            미션 완료 시 '우수답변가' 배지를 받아요
          </p>
        </header>

        <div class="flex justify-start pt-3 gap-1 w-[190px] pb-3">
          <div
            class="w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
          >
            <div
              class="w-[50%] h-full bg-[var(--color-secondary)] rounded-full"
            ></div>
          </div>
          <div
            class="w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
          >
            <div
              class="w-[0%] h-full bg-[var(--color-secondary)] rounded-full"
            ></div>
          </div>
          <div
            class="w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
          >
            <div
              class="w-[0%] h-full bg-[var(--color-secondary)] rounded-full"
            ></div>
          </div>
          <div
            class="w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
          >
            <div
              class="w-[0%] h-full bg-[var(--color-secondary)] rounded-full"
            ></div>
          </div>
          <div
            class="w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
          >
            <div
              class="w-[0%] h-full bg-[var(--color-secondary)] rounded-full"
            ></div>
          </div>
        </div>
      </div>

      <div class="flex flex-col self-start pt-1">
        <p
          class="bg-[var(--color-background)] w-[53px] h-[53px] rounded-xl"
        ></p>
        <img src="" alt="" />
      </div>
    </article>
  </body>
</html>
