<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 100% 바 -->
    <div
      class="m-2 w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
    >
      <div
        class="w-[100%] h-full bg-[var(--color-secondary)] rounded-full"
      ></div>
    </div>

    <!-- 50% 바 -->
    <div
      class="m-2 w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
    >
      <div
        class="w-[50%] h-full bg-[var(--color-secondary)] rounded-full"
      ></div>
    </div>

    <!-- 0% 바 -->
    <div
      class="m-2 w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
    >
      <div
        class="w-[00%] h-full bg-[var(--color-secondary)] rounded-full"
      ></div>
    </div>

    <!-- 미션 배지 -->
    <article
      class="bg-[var(--color-primary)] w-auto h-auto py-3 pr-8.5 pl-5 rounded-xl m-5 flex justify-between items-center"
    >
      <div class="flex flex-col">
        <header class="grid grid-rows-2 w-80">
          <div class="grid grid-cols-[auto_1fr] gap-1">
            <img src="/src/assets/flag.svg" alt="" />
            <h2 class="text-[var(--color-background)]">
              5개의 친구질문 글에 댓글 남기기
            </h2>
          </div>
          <p class="text-[var(--color-content-tertiary)]">
            미션 완료 시 '우수답변가' 배지를 받아요
          </p>
        </header>

        <div class="flex justify-start pt-3 gap-1 w-80 pb-3">
          <div
            class="w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
          >
            <div
              class="w-[50%] h-full bg-[var(--color-secondary)] rounded-full"
            ></div>
          </div>
          <div
            class="w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
          >
            <div
              class="w-[0%] h-full bg-[var(--color-secondary)] rounded-full"
            ></div>
          </div>
          <div
            class="w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
          >
            <div
              class="w-[0%] h-full bg-[var(--color-secondary)] rounded-full"
            ></div>
          </div>
          <div
            class="w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
          >
            <div
              class="w-[0%] h-full bg-[var(--color-secondary)] rounded-full"
            ></div>
          </div>
          <div
            class="w-[38px] h-[3px] max-w-[200px] bg-gray-400 rounded-full overflow-hidden"
          >
            <div
              class="w-[0%] h-full bg-[var(--color-secondary)] rounded-full"
            ></div>
          </div>
        </div>
      </div>

      <div class="flex flex-col items-center">
        <p
          class="bg-[var(--color-background)] w-[52px] h-[52px] rounded-xl"
        ></p>
        <img src="" alt="" />
      </div>
    </article>
  </body>
</html>
