<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/pages/yerin/components/styles/info.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div
      class="w-[320px] h-full grid grid-cols-[auto_2fr_auto] items-center pl-5 pr-5 py-3 border-b-5 border-gray-400"
    >
      <figure
        class="bg-[#D9D9D9] w-[54px] h-[54px] rounded-lg justify-self-end"
      ></figure>

      <span class="font-bold text-[var(--text-l)] pl-3">Q&A</span>

      <div
        class="bg-[#9DA1B4] w-[72px] h-[32px] rounded-lg text-s flex items-center justify-center gap-1"
      >
        <img src="/src/assets/check.svg" alt="체크 아이콘" class="w-4 h-4" />
        <p class="text-white">참여중</p>
      </div>
    </div>
  </body>
</html>
