<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>q&a</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>

  <body>
    <!-- 날짜 -->
    <div class="w-full h-[32px] grid grid-cols-1 m-3 pt-1">
      <time
        datetime="2025.03.19"
        class="text-[10.503px] text-[var(--color-content-tertiary)] justify-self-center pt-2"
        >2025년 3월 19일</time
      >
    </div>
    </div>
  </body>
</html>
