<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/pages/yerin/components/styles/info.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="bg-[#8db0f9] rounded-lg px-4 py-3 text-white m-2 gap-2 text-[10.503px]">
        <p>
          <span class="font-bold pr-1.5">안내</span>
          <span class="pr-1">중고거래 관련, 명예훼손, 광고/홍보 목적의 글은 올리실 수 없어요.</span>
          <a href="/" class="underline">Q&A글쓰기 운영정책</a>
        </p>
      </div>
    </div>

    <!-- 반응형 추가 -->
    <div
      class="bg-[#8db0f9] rounded-lg px-3 sm:px-4 md:px-6 py-2 sm:py-3 text-white m-2 gap-2 text-[10.503px] sm:text-sm md:text-base max-w-s sm:max-w-md md:max-w-lg"
    >
      <p>
        <span class="font-bold pr-1.5">안내</span>
        <span class="pr-1"
          >중고거래 관련, 명예훼손, 광고/홍보 목적의 글은 올리실 수
          없어요.</span
        >
        <a href="/" class="underline">Q&A글쓰기 운영정책</a>
      </p>
    </div>

    <div
      class="bg-[#8db0f9] rounded-lg px-4 sm:px-4 md:px-6 py-4 sm:py-4 text-white m-2 gap-2 text-[10.503px] sm:text-sm md:text-base max-w-s sm:max-w-md md:max-w-lg"
    >
      <p>
        <span class="pr-1 font-bold"
          >님은 우수판매자예요.</span
        ><span class="">개인정보유도와 명예훼손 내용은 차단될 수 있어요.</span>
        <a href="/" class="underline">자세히 보기</a>
      </p>
    </div>

  
  </body>
</html>
