<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/pages/yerin/components/styles/info.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div
      class="grid grid-cols-1 justify-self-end gap-1 max-w-[300px] px-2 pt-1"
    >
      <div
        class="bg-[#719cf7] px-3 py-2 rounded-2xl max-w-[250px] break-normal whitespace-normal inline-block"
      >
        <p class="text-white text-[14px]">text</p>
      </div>
    </div>

    <!-- 시간 추가 채팅 -->
    <div class="grid grid-cols-[1fr_auto] gap-1 w-full pt-1 px-2">
      <p
        class="text-[10.503px] text-[var(--color-content-tertiary)] place-self-end w-[55px] text-center"
      >
        오후 4:30분
      </p>
      <div
        class="bg-[#719cf7] px-3 py-2 rounded-2xl max-w-[250px] break-normal whitespace-normal inline-block"
      >
        <p class="text-white text-[14px]">text</p>
      </div>
    </div>

    <br />
    <!-- 시간 없는 채팅 -->
    <div class="grid grid-cols-[auto_1fr] gap-1 w-full pt-1 px-2">
      <div
        class="bg-[#EBECF0] px-3 py-2 rounded-2xl max-w-[250px] break-normal whitespace-normal inline-block"
      >
        <p class="text-black text-[14px]">text</p>
      </div>
    </div>

    <div class="grid grid-cols-[auto_1fr] gap-1 w-full pt-1 px-2">
      <div
        class="bg-[#EBECF0] px-3 py-2 rounded-2xl max-w-[250px] break-normal whitespace-normal inline-block"
      >
        <p class="text-black text-[14px]">text</p>
      </div>
      <p class="text-[10.503px] text-[var(--color-content-tertiary)] self-end">
        오후 4:30분
      </p>
    </div>
  </body>
</html>
