<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/pages/yerin/components/styles/info.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div>
      <h1 class="m-3">메세지 전송</h1>
      <div class="grid grid-cols-[1fr_auto] gap-1 max-w-[250px]">
        <p class="text-xs text-[var(--color-content-tertiary)] place-self-end">
          오후 4:30분
        </p>
        <div class="bg-[#719cf7] px-3 py-2 rounded-2xl max-w-[238px]">
          <p class="text-white text-m">text</p>
        </div>
      </div>
    </div>
    <br />
    <div>
      <h1 class="m-3">메세지 수신</h1>
      <div class="grid grid-cols-[auto_1fr] gap-1 max-w-[250px]">
        <div class="bg-[#EBECF0] px-3 py-2 rounded-2xl max-w-[238px]">
          <p class="text-black text-m">text</p>
        </div>
        <p class="text-xs text-[var(--color-content-tertiary)] self-end">
          오후 4:30분
        </p>
      </div>
    </div>
  </body>
</html>
