<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <!-- <link rel="stylesheet" href="/src/pages/yerin/components/styles/info.css" /> -->
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 사진 없는 채팅 리스트 -->
    <a href="/">
      <div
        class="w-full mx-auto px-3 py-2 border-b-[0.3px] border-[var(--Contents-contentSecondary,#919191)]"
      >
        <div class="grid grid-cols-[auto_1fr] items-center gap-2.5">
          <!-- 프로필 이미지 -->
          <div
            class="bg-[var(--color-content-secondary)] w-[44px] h-[44px] rounded-full overflow-hidden"
          >
            <img src="/" alt="" class="w-full h-full object-cover" />
          </div>

          <section class="flex flex-col w-full min-w-0">
            <div class="flex gap-1">
              <h2 class="font-bold text-[14px]">닉네임</h2>
              <p
                class="text-[var(--color-content-secondary)] text-[9px] self-center m-1"
              >
                위치<span>·</span><span>날짜</span>
              </p>
            </div>

            <p
              class="truncate max-w-[140px] text-ellipsis whitespace-nowrap overflow-hidden text-[14px] text-gray-700"
            >
              text
            </p>
          </section>
        </div>
      </div>
    </a>

    <!-- 사진 추가 -->
    <div
      class="w-full mx-auto px-3 py-2 border-b-[0.3px] border-[var(--Contents-contentSecondary,#919191)] flex justify-between items-center"
    >
      <div class="grid grid-cols-[auto_1fr] items-center gap-2.5">
        <!-- 프로필 이미지 -->
        <div
          class="bg-[var(--color-content-secondary)] w-[44px] h-[44px] rounded-full overflow-hidden"
        >
          <img src="/" alt="" class="w-full h-full object-cover" />
        </div>

        <section class="flex flex-col w-full">
          <div class="flex gap-1">
            <h2 class="font-bold text-[14px]">닉네임</h2>
            <p
              class="text-[var(--color-content-secondary)] text-[9px] self-center m-1"
            >
              위치<span>·</span><span>날짜</span>
            </p>
          </div>

          <p
            class="truncate w-full text-ellipsis whitespace-nowrap overflow-hidden text-[14px] text-gray-700"
          >
            text
          </p>
        </section>
      </div>

      <div
        class="flex flex-col bg-[var(--color-content-secondary)] w-[44px] h-[44px] rounded-xl overflow-hidden"
      >
        <img src="" alt="" />
      </div>
    </div>
  </body>
</html>
