<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/pages/yerin/components/styles/" />
    <script type="module" src="/src/main.js"></script>
  </head>

      <div class="bg-white w-[320px] h-[104px] grid gap-x-2 grid-cols-[4fr_1fr] m-5 p-3 relative isolate">
        <section class="w-[227px]">
          <div class="bg-[#C4C7D2] text-white text-xs rounded-sm w-[68px] h-4 grid place-items-center">category</div>
          <h2 class="truncate font-bold text-xs pt-1">제목</h2>
          <p class="truncate text-xs text-[#B1B4C3] pt-1">내용</p>
          <div class="text-xs text-[#B1B4C3] pt-2"><span>북가좌동 </span><span> · </span><span>2일전</span></div>
        </section>
        <!-- relative grid grid-rows-[auto_1fr] items-end -->
        <div class="relative flex flex-col items-center shrink-0">
          <figure class="bg-[#D9D9D9] w-[62px] h-[62px] rounded-sm grid place-items-center">
            <img src="" alt="" />
          </figure>

         <ul class="absolute bottom-0 right-0 flex gap-2 self-end text-[#B1B4C3] text-xs">
          <li class="flex items-center gap-0.5">
              <img src="/src/pages/yerin/assets/thumbsup.svg" alt="좋아요 아이콘" class="w-4 h-4">
              <p>2</p>
          </li>
          <li class="flex items-center gap-0.5">
              <img src="/src/pages/yerin/assets/speech.svg" alt="댓글 아이콘" class="w-4 h-4">
              <p>1</p>
          </li>
        </ul>
      </div>
<br />




    
  </body>
</html>
