<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/pages/yerin/components/styles/" />
    <script type="module" src="/src/main.js"></script>
  </head>
      
      <div
      class="w-[320px] h-[104px] grid gap-x-2 grid-cols-[3fr_1fr] relative isolate p-3"
    >
      <section class="w-full max-w-[227px] h-[80px]">
        <!-- 카테고리 -->
        <div
          class="bg-[#C4C7D2] text-white font-bold text-xs rounded-sm w-[68px] h-4 grid place-items-center px-2"
        >
          category
        </div>

        <!-- 제목 & 내용 -->
        <h2 class="truncate font-bold text-sm pt-1">제목</h2>
        <p class="truncate text-xs text-[#B1B4C3] pt-2">내용</p>

        <!-- 위치 & 날짜 -->
        <div class="text-xs text-[#B1B4C3] pt-2 font-bold flex gap-1">
          <span>위치</span><span>·</span><span>날짜</span><span>·</span
          ><span>조회</span>
        </div>
      </section>

      <!-- 프로필 이미지 & 좋아요/댓글 -->
      <div class="relative flex flex-col items-center">
        <figure
          class="bg-[#D9D9D9] w-[56px] h-[56px] rounded-sm grid place-items-center"
        >
          <img src="" alt="" />
        </figure>

        <!-- 좋아요 & 댓글 -->
        <div class="flex gap-2 text-[#B1B4C3] text-xs mt-1">
          <button class="flex items-center gap-1">
            <img
              src="/src/assets/thumbsup.svg"
              alt="좋아요 아이콘"
              class="w-4 h-4"
            />
            <p class="text-xs">2</p>
          </button>

          <button class="flex items-center gap-1">
            <img
              src="/src/assets/speech.svg"
              alt="댓글 아이콘"
              class="w-4 h-4"
            />
            <p class="text-xs">1</p>
          </button>
        </div>
      </div>
    </div>
      
  </body>
</html>
