<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/pages/yerin/components/styles/info.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="bg-[#8db0f9] rounded-lg px-4 py-3 text-white m-2 gap-2">
        <span class="font-bold">안내</span>
        <span>중고거래 관련, 명예훼손, 광고/홍보 목적의 글은 올리실 수 없어요.</span>
        <a href="#" class="underline">Q&A글쓰기 운영정책</a>
      </div>
    </div>
  </body>
</html>
