<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>프로필</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 프로필 -->
    <div class="flex flex-col items-center">
      <div
        class="bg-[url('./assets/profile.png')] bg-center rounded-[50%] w-[68px] h-[66px] relative mb-[9px]"
      >
        <button
          type="button"
          class="bg-white shadow-[4px_4px_4px_0_rgba(0,0,0,0.15)] rounded-[50%] w-3.5 h-3.5 absolute right-1.5 bottom-1.5"
        >
          <svg
            width="14"
            height="14"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.6817 7.17501L12.735 4.22918L13.9142 3.05085C14.4392 2.52585 15.6417 2.42168 16.2708 3.05085L16.86 3.64001C17.4892 4.26918 17.3858 5.47168 16.86 5.99751L15.6817 7.17501ZM14.5033 8.35418L6.25334 16.6042L2.42334 17.4875L3.30667 13.6575L11.5567 5.40751L14.5033 8.35418Z"
              fill="black"
            />
          </svg>
        </button>
      </div>
      <!-- 프로필 이름 -->
      <div class="flex font-[Pretendard] gap-1.5">
        <p class="label-l">EUID***</p>
        <p
          class="text-(--color-secondary) text-[10.5px] leading-4 bg-white px-1 py-0 border border-(--color-secondary) rounded-[50px] self-center"
        >
          4기
        </p>
      </div>
      <p class="label-s font-normal text-[#919191]">
        답변<span class="ml-1">35</span>
      </p>
    </div>
  </body>
</html>
