<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>프로필 Icon&Balloon 컴포넌트</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 받은 매너 평가 -->
    <section
      class="inline-flex items-start gap-[5px] font-[Pretendard] text-xs text-[#000] leading-4"
    >
      <img src="./assets/people.svg" alt="/" class="w-4 h-4" />

      <p class="font-semibold">Number</p>

      <p class="bg-[#719CF7] p-2 rounded-b-lg rounded-tr-lg">text</p>
    </section>
  </body>
</html>
