<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>버튼 아이템즈</title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 버튼 아이템즈 -->
    <ul class="bg-white px-5 py-2 flex justify-between items-center border-b border-[#D3D3D3]">
      <li class="inline-flex gap-2">
        <a href=""><img class="w-5 h-5" src="/src/assets/direction=left.svg" alt="뒤로가기" /></a>
        <a href=""><img class="w-5 h-5" src="/src/assets/home.svg" alt="홈으로가기" /></a>
      </li>
      <li class="inline-flex gap-2">
        <a href=""><img class="w-5 h-5" src="/src/assets/share.svg" alt="공유하기" /></a>
        <a href=""><img class="w-5 h-5" src="/src/assets/more.svg" alt="더보기" /></a>
      </li>
    </ul>
  </body>
</html>
