<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>버튼 아이템즈</title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 태그 버튼들 -->
    <div class="inline-flex px-3 py-1.5 items-center justify-center rounded-3xl border-1 border-(--color-content-secondary)">
      <span class="paragraph-s">tag</span>
    </div>
    <div class="inline-flex px-3 py-1.5 items-center justify-center rounded-3xl border-1 border-(--color-content-secondary)">
      <span class="paragraph-s">Tag</span>
    </div>
    <div class="inline-flex px-3 py-1.5 items-center justify-center rounded-3xl border-1 border-(--color-content-secondary)">
      <span class="paragraph-s">Tag</span>
    </div>
    <div class="inline-flex px-3 py-1.5 items-center justify-center rounded-3xl border-1 border-(--color-content-secondary)">
      <span class="paragraph-s">Tag</span>
    </div>
    <hr />
    <div>
      <button class="px-3.5 py-2 inline-flex rounded-lg justify-center items-center bg-(--color-secondary)">
        <span class="label-m text-white">채팅하기</span>
      </button>
    </div>
  </body>
</html>
