<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>버튼 아이템즈</title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 인풋바 -->
    <div class="px-5 py-1 flex items-center gap-4">
      <a class="w-5 h-5" href=""><img class="w-5 h-5 object-cover" src="/src/assets/direction=left.svg" alt="뒤로가기" /></a>
      <label class="w-full">
        <input
          type="search"
          placeholder="검색어를 입력하세요"
          class="paragraph-m w-full caret-(--color-tertiary) bg-[#E9E9E9] px-2.5 py-1 rounded-md outline-none" />
      </label>
    </div>
  </body>
</html>
