<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>stotyfield</title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <a class="inline-block" href="/">
      <figure class="w-[138px] flex flex-col">
        <img class="w-full h-[104px] aspect-w-4 aspect-h-3 mb-3 overflow-hidden rounded-[8px] object-cover" src="/img/whatNono.webp" alt="어? 금지" />
        <figcaption class="paragraph-s line-clamp-2 mb-1">디자인에 대해 하나도 알지 못했던 내가 취업할 수 있었던 이유</figcaption>
        <p class="paragraph-s text-(--color-content-secondary)">UIUX | 1기 수강생 박치열</p>
      </figure>
    </a>
  </body>
</html>
