<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <a
      href="/"
      class="block w-full mt-4 py-2 border text-sm border-gray-400 rounded-lg text-black font-['Pretendard'] font-medium text-center no-underline hover:outline-[#719cf7] focus:outline-2 focus:outline-[#719cf7]"
    >
      텍스트
    </a>
  </body>
</html>
