<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div
      class="w-80 px-[12px] pt-[8px] pb-[24px] bg-white inline-flex justify-start items-center gap-10"
    >
      <a href="/">
        <div tabindex="0" class="flex flex-col justify-center items-center">
          <div class="w-5 h-5 relative">
            <div
              class="w-5 h-5 absolute bg-[url('./assets/home.svg')] hover:bg-[url('./assets/fullHome.svg')] bg-cover"
            ></div>
          </div>
          <div class="justify-center text-black text-[9px] font-['Pretendard']">
            홈
          </div>
        </div>
      </a>
      <a href="/">
        <div tabindex="0" class="flex flex-col justify-center items-center">
          <div class="w-5 h-5 relative">
            <div
              class="w-5 h-5 absolute bg-[url('./assets/file.svg')] hover:bg-[url('./assets/fullFile.svg')] bg-cover"
            ></div>
          </div>
          <div
            class="justify-center text-black text-[8.9px] font-['Pretendard']"
          >
            게시판
          </div>
        </div>
      </a>
      <a href="/">
        <div tabindex="0" class="flex flex-col justify-center items-center">
          <div class="w-5 h-5 relative">
            <div
              class="w-5 h-5 absolute bg-[url('./assets/map.svg')] hover:bg-[url('./assets/fullMap.svg')] bg-cover"
            ></div>
          </div>
          <div class="justify-center text-black text-[9px] font-['Pretendard']">
            내 근처
          </div>
        </div>
      </a>
      <a href="/">
        <div tabindex="0" class="flex flex-col justify-center items-center">
          <div class="w-5 h-5 relative">
            <div
              class="w-5 h-5 absolute bg-[url('./assets/chat.svg')] hover:bg-[url('./assets/fullChat.svg')] bg-cover"
            ></div>
          </div>
          <div class="justify-center text-black text-[9px] font-['Pretendard']">
            채팅
          </div>
        </div>
      </a>
      <a href="/">
        <div tabindex="0" class="flex flex-col justify-center items-center">
          <div class="w-5 h-5 relative">
            <div
              class="w-5 h-5 absolute bg-[url('./assets/my.svg')] hover:bg-[url('./assets/fullMy.svg')] bg-cover"
            ></div>
          </div>
          <div class="justify-center text-black text-[9px] font-['Pretendard']">
            나의 이듬
          </div>
        </div>
      </a>
    </div>
  </body>
</html>
