<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="max-w-md mx-auto p-4">
     
      <div class="mb-4">
        <div class="relative">
          <input
            type="tel"
            id="number"
            class="w-full px-3 py-2 rounded border border-gray-300 text-sm font-['Pretendard'] focus:ring-black"
            placeholder="휴대폰 번호(-없이 숫자만 입력)"
            pattern="[0-9]{11}"
            maxlength="11"
          />
        </div>
      </div>
  </body>
</html>
