<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="px-4">
      <div class="mb-4">
        <input
          type="tel"
          pattern="[0-9]*"
          maxlength="11"
          placeholder="휴대폰 번호 ( - 없이 숫자만 입력)"
          class="phone-input w-full pl-3 py-2 border text-sm border-gray-400 rounded-lg hover:outline-[#719cf7] focus:outline-2 focus:outline-[#719cf7]"
        />
      </div>
    </div>
  </body>
</html>
