<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>인증번호 입력창</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="mt-3 py-2">
      <input
        type="tel"
        pattern="[0-9]*"
        maxlength="6"
        placeholder="인증번호 입력"
        class="phone-input w-full pl-3 py-2 border text-sm border-gray-400 rounded-lg hover:outline-[#719cf7] focus:outline-2 focus:outline-[#719cf7]"
      />
    </div>
  </body>
</html>
