<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="w-[320px] h-[220px] relative bg-white overflow-hidden">
      <div
        class="w-[160px] left-[80px] top-[113px] absolute text-center justify-center text-slate-700 text-lg font-bold font-['Pretendard']"
      >
        당신 곁에 엔터이듬
      </div>
      <div
        class="w-[170px] left-[75px] top-[152px] absolute justify-center text-slate-700 text-sm font-['Pretendard']"
      >
        With EUID’s 함께 성장하기
      </div>
      <div
        class="w-[230px] left-[45px] top-[169px] absolute justify-center text-slate-700 text-sm font-['Pretendard']"
      >
        함께 배우고 적용하며 성장해보세요!
      </div>
      <div
        class="w-20 h-8 left-[118px] top-[37px] absolute overflow-hidden bg-[url('./assets/logo.svg')] bg-no-repeat bg-center"
      ></div>
    </div>
  </body>
</html>
