<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div
      class="px-[24px] pt-[8px] pb-[4px] bg-white inline-flex justify-end items-center gap-44"
    >
      <div
        class="text-center justify-center text-black text-sm font-semibold font-['Pretendard'] leading-tight"
      >
        2:26
      </div>
      <div class="flex justify-center items-center">
        <div class="w-6 h-4 relative">
          <div
            class="w-3.5 h-4 left-[10px] absolute bg-cover bg-[url('./assets/celluar.svg')]"
          ></div>
        </div>
        <div class="flex justify-center items-center gap-0.5">
          <div class="w-6 h-6 relative">
            <div
              class="w-6 h-6 absolute bg-cover bg-[url('./assets/lte.svg')]"
            ></div>
          </div>
          <div class="w-6 h-5 relative">
            <div
              class="w-5 h-5 absolute bg-cover bg-[url('./assets/battery.svg')]"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
