<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>11조 위닝일레븐</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div
      class="flex flex-col p-[12px] justify-center items:center rounded-[8px] bg-[#a7a7a7] w-[96px] h-[61px]"
    >
      <div class="justify-center text-[#E9E9E9] text-xs font-['Pretendard']">
        text
      </div>
      <div class="flex justify-between text-black text-lg font-['Pretendard']">
        text
        <div class="w-[18px] h-[18px] relative bg-[#919191] rounded-[50px]">
          <div
            class="w-[10px] h-[10px] left-[4px] top-[4px] absolute bg-[url('./../assets/plus.svg')] bg-cover"
          ></div>
        </div>
      </div>
    </div>
    <div
      class="mt-1 flex flex-col p-[12px] justify-center items:center rounded-[8px] bg-[#373f67] w-[96px] h-[61px]"
    >
      <div class="justify-center text-[#E9E9E9] text-xs font-['Pretendard']">
        text
      </div>
      <div class="flex justify-between text-white text-lg font-['Pretendard']">
        text
        <div class="w-[18px] h-[18px] relative bg-white rounded-[50px]">
          <div
            class="w-[10px] h-[10px] left-[4px] top-[4px] absolute text-[#373f67] bg-[url('./../assets/check.svg')] bg-cover"
          ></div>
        </div>
      </div>
    </div>
  </body>
</html>
